# CONFIG_AHCI_CEVA is not set
# CONFIG_AHCI_QORIQ is not set
# CONFIG_ALTERA_MBOX is not set
# CONFIG_AQUANTIA_PHY is not set
# CONFIG_ARCH_ACTIONS is not set
# CONFIG_ARCH_AGILEX is not set
# CONFIG_ARCH_ALPINE is not set
# CONFIG_ARCH_BCM2835 is not set
# CONFIG_ARCH_BCM_IPROC is not set
# CONFIG_ARCH_BERLIN is not set
# CONFIG_ARCH_BRCMSTB is not set
# CONFIG_ARCH_EXYNOS is not set
# CONFIG_ARCH_HISI is not set
# CONFIG_ARCH_K3 is not set
# CONFIG_ARCH_LAYERSCAPE is not set
# CONFIG_ARCH_LG1K is not set
# CONFIG_ARCH_MEDIATEK is not set
# CONFIG_ARCH_MESON is not set
# CONFIG_ARCH_MVEBU is not set
# CONFIG_ARCH_MXC is not set
# CONFIG_ARCH_QCOM is not set
# CONFIG_ARCH_REALTEK is not set
# CONFIG_ARCH_RENESAS is not set
# CONFIG_ARCH_S32 is not set
# CONFIG_ARCH_SEATTLE is not set
# CONFIG_ARCH_SPRD is not set
# CONFIG_ARCH_STRATIX10 is not set
# CONFIG_ARCH_SUNXI is not set
# CONFIG_ARCH_SYNQUACER is not set
# CONFIG_ARCH_TEGRA is not set
# CONFIG_ARCH_THUNDER is not set
# CONFIG_ARCH_THUNDER2 is not set
# CONFIG_ARCH_UNIPHIER is not set
# CONFIG_ARCH_VEXPRESS is not set
# CONFIG_ARCH_XGENE is not set
# CONFIG_ARCH_ZX is not set
# CONFIG_ARCH_ZYNQMP is not set
# CONFIG_ARM64_CNP is not set
# CONFIG_ARM64_ERRATUM_1024718 is not set
# CONFIG_ARM64_ERRATUM_1165522 is not set
# CONFIG_ARM64_ERRATUM_1286807 is not set
# CONFIG_ARM64_ERRATUM_1418040 is not set
# CONFIG_ARM64_ERRATUM_1463225 is not set
# CONFIG_ARM64_ERRATUM_832075 is not set
# CONFIG_ARM64_ERRATUM_834220 is not set
# CONFIG_ARM64_ERRATUM_858921 is not set
# CONFIG_ARM64_HW_AFDBM is not set
# CONFIG_ARM64_PAN is not set
# CONFIG_ARM64_RAS_EXTN is not set
# CONFIG_ARM64_UAO is not set
# CONFIG_ARM64_VHE is not set
# CONFIG_AT803X_PHY is not set
# CONFIG_ATH10K is not set
# CONFIG_BCM7XXX_PHY is not set
# CONFIG_BCM_SBA_RAID is not set
# CONFIG_BRCMSTB_GISB_ARB is not set
# CONFIG_BROADCOM_PHY is not set
# CONFIG_CAN_BCM is not set
# CONFIG_CAVIUM_ERRATUM_22375 is not set
# CONFIG_CAVIUM_ERRATUM_23154 is not set
# CONFIG_CAVIUM_ERRATUM_27456 is not set
# CONFIG_CAVIUM_ERRATUM_30115 is not set
# CONFIG_CAVIUM_TX2_ERRATUM_219 is not set
# CONFIG_CC10001_ADC is not set
# CONFIG_CHARGER_UCS1002 is not set
# CONFIG_CLK_QORIQ is not set
# CONFIG_COMEDI is not set
# CONFIG_COMMON_CLK_VC5 is not set
# CONFIG_COMMON_CLK_XGENE is not set
# CONFIG_COMMON_CLK_XLNX_CLKWZRD is not set
# CONFIG_DRM_DW_HDMI_AHB_AUDIO is not set
# CONFIG_DRM_DW_HDMI_CEC is not set
# CONFIG_DRM_DW_HDMI_I2S_AUDIO is not set
# CONFIG_DRM_ETNAVIV is not set
# CONFIG_DRM_HISI_HIBMC is not set
# CONFIG_DRM_HISI_KIRIN is not set
# CONFIG_DRM_I2C_CH7006 is not set
# CONFIG_DRM_I2C_NXP_TDA998X is not set
# CONFIG_DRM_I2C_SIL164 is not set
# CONFIG_DRM_LIMA is not set
# CONFIG_DRM_MALI_DISPLAY is not set
# CONFIG_DRM_NOUVEAU is not set
# CONFIG_DRM_PANEL_LVDS is not set
# CONFIG_DRM_PANEL_SHARP_LS037V7DW01 is not set
# CONFIG_DRM_PANEL_TPO_TD043MTEA1 is not set
# CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA is not set
# CONFIG_DRM_RCAR_DW_HDMI is not set
# CONFIG_DRM_RCAR_LVDS is not set
# CONFIG_DRM_THINE_THC63LVD1024 is not set
# CONFIG_DRM_TI_SN65DSI86 is not set
# CONFIG_EFI is not set
# CONFIG_ETHERNET is not set
# CONFIG_FB_SM750 is not set
# CONFIG_FB_TFT is not set
# CONFIG_FIELDBUS_DEV is not set
# CONFIG_FPGA is not set
# CONFIG_FSL_EDMA is not set
# CONFIG_FSL_ERRATUM_A008585 is not set
# CONFIG_FUJITSU_ERRATUM_010001 is not set
# CONFIG_GPIO_ALTERA is not set
# CONFIG_GPIO_MAX732X is not set
# CONFIG_GPIO_XGENE is not set
# CONFIG_GREYBUS is not set
# CONFIG_GS_FPGABOOT is not set
# CONFIG_HISILICON_ERRATUM_161010101 is not set
# CONFIG_HISILICON_ERRATUM_161600802 is not set
# CONFIG_HIST_TRIGGERS is not set
# CONFIG_HW_RANDOM_CAVIUM is not set
# CONFIG_I2C_SLAVE is not set
# CONFIG_INDIRECT_PIO is not set
# CONFIG_INPUT_REGULATOR_HAPTIC is not set
# CONFIG_KS7010 is not set
# CONFIG_LTE_GDM724X is not set
# CONFIG_MARVELL_10G_PHY is not set
# CONFIG_MARVELL_PHY is not set
# CONFIG_MAX9611 is not set
# CONFIG_MDIO_BCM_UNIMAC is not set
# CONFIG_MDIO_THUNDER is not set
# CONFIG_MDIO_XPCS is not set
# CONFIG_MEGARAID_SAS is not set
# CONFIG_MFD_AXP20X_I2C is not set
# CONFIG_MFD_HI6421_PMIC is not set
# CONFIG_MFD_ROHM_BD718XX is not set
# CONFIG_MFD_WCD934X is not set
# CONFIG_MICREL_PHY is not set
# CONFIG_MICROSEMI_PHY is not set
# CONFIG_MMC_DW_EXYNOS is not set
# CONFIG_MMC_DW_HI3798CV200 is not set
# CONFIG_MMC_DW_K3 is not set
# CONFIG_MMC_SDHCI_XENON is not set
# CONFIG_MPL3115 is not set
# CONFIG_MTD_CFI_AMDSTD is not set
# CONFIG_MTD_CFI_INTELEXT is not set
# CONFIG_MV_XOR_V2 is not set
# CONFIG_NUMA is not set
# CONFIG_PARAVIRT is not set
# CONFIG_PCIE_ALTERA is not set
# CONFIG_PCIE_KIRIN is not set
# CONFIG_PCIE_LAYERSCAPE_GEN4 is not set
# CONFIG_PCI_HISI is not set
# CONFIG_PCI_HOST_THUNDER_ECAM is not set
# CONFIG_PCI_HOST_THUNDER_PEM is not set
# CONFIG_PCI_XGENE is not set
# CONFIG_PHY_FSL_IMX8MQ_USB is not set
# CONFIG_PHY_QCOM_USB_HS is not set
# CONFIG_PHY_ROCKCHIP_DPHY_RX0 is not set
# CONFIG_PHY_SAMSUNG_USB2 is not set
# CONFIG_PHY_XGENE is not set
# CONFIG_PI433 is not set
# CONFIG_POWER_RESET_BRCMSTB is not set
# CONFIG_POWER_RESET_XGENE is not set
# CONFIG_PPS is not set
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_QCOM_CPR is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1003 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_1009 is not set
# CONFIG_QCOM_FALKOR_ERRATUM_E1041 is not set
# CONFIG_QCOM_HIDMA is not set
# CONFIG_QCOM_HIDMA_MGMT is not set
# CONFIG_QCOM_QDF2400_ERRATUM_0065 is not set
# CONFIG_QCOM_SPMI_ADC5 is not set
# CONFIG_QRTR is not set
# CONFIG_R8712U is not set
# CONFIG_REALTEK_PHY is not set
# CONFIG_RESET_BRCMSTB_RESCAL is not set
# CONFIG_RPMSG_QCOM_GLINK_RPM is not set
# CONFIG_RTC_DRV_PCF2127 is not set
# CONFIG_RTC_DRV_PCF85363 is not set
# CONFIG_RTC_DRV_RX8581 is not set
# CONFIG_RTL8192U is not set
# CONFIG_RTL8723BS is not set
# CONFIG_RTLLIB is not set
# CONFIG_RTS5208 is not set
# CONFIG_SATA_SIL24 is not set
# CONFIG_SERIAL_FSL_LINFLEXUART is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SLIM_QCOM_CTRL is not set
# CONFIG_SND_SOC_AK4613 is not set
# CONFIG_SND_SOC_ES7134 is not set
# CONFIG_SND_SOC_ES7241 is not set
# CONFIG_SND_SOC_MAX98927 is not set
# CONFIG_SND_SOC_PCM3168A_I2C is not set
# CONFIG_SND_SOC_SIMPLE_AMPLIFIER is not set
# CONFIG_SND_SOC_SPDIF is not set
# CONFIG_SND_SOC_TAS571X is not set
# CONFIG_SOCIONEXT_SYNQUACER_PREITS is not set
# CONFIG_SOC_BRCMSTB is not set
# CONFIG_SOC_TI is not set
# CONFIG_SOUNDWIRE is not set
# CONFIG_SPEAKUP is not set
# CONFIG_SPI_NXP_FLEXSPI is not set
# CONFIG_UCSI_CCG is not set
# CONFIG_UNISYSSPAR is not set
# CONFIG_VEXPRESS_CONFIG is not set
# CONFIG_VITESSE_PHY is not set
# CONFIG_VT6655 is not set
# CONFIG_VT6656 is not set
# CONFIG_WFX is not set
# CONFIG_WILC1000_SDIO is not set
# CONFIG_WILC1000_SPI is not set
# CONFIG_XEN is not set
# CONFIG_XIL_AXIS_FIFO is not set
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_GENERIC=y
CONFIG_BACKLIGHT_PWM=y
CONFIG_BLK_DEV_DM=y
CONFIG_BRANCH_PROFILE_NONE=y
CONFIG_CFG80211_DEBUGFS=y
CONFIG_CFG80211_WEXT=y
CONFIG_CMA_DEBUGFS=y
CONFIG_COMPAT_NETLINK_MESSAGES=y
CONFIG_CONTEXT_SWITCH_TRACER=y
CONFIG_DRM=y
CONFIG_DRM_ANALOGIX_DP=y
CONFIG_DRM_DW_HDMI=y
CONFIG_DRM_DW_MIPI_DSI=y
CONFIG_DRM_KMS_HELPER=y
CONFIG_DRM_PANEL_SIMPLE=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_DRM_VGEM=y
CONFIG_EVENT_TRACING=y
CONFIG_FB_ARMCLCD=y
CONFIG_FTRACE=y
CONFIG_FTRACE_MCOUNT_RECORD=y
CONFIG_FTRACE_SYSCALLS=y
CONFIG_FUNCTION_GRAPH_TRACER=y
CONFIG_FUNCTION_TRACER=y
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_GENERIC_TRACER=y
CONFIG_IOMMU_DEBUGFS=y
CONFIG_MAC80211_DEBUGFS=y
CONFIG_MAILBOX=y
CONFIG_MEDIA_CONTROLLER_REQUEST_API=y
CONFIG_NOP_TRACER=y
CONFIG_PHY_ROCKCHIP_USB=y
CONFIG_PLATFORM_MHU=y
CONFIG_PM_DEVFREQ_EVENT=y
CONFIG_PNFS_BLOCK=y
CONFIG_PTDUMP_DEBUGFS=y
CONFIG_PWM_CROS_EC=y
CONFIG_REED_SOLOMON=y
CONFIG_REED_SOLOMON_DEC8=y
CONFIG_REED_SOLOMON_ENC8=y
CONFIG_REGULATOR=y
CONFIG_REGULATOR_BD9571MWV=y
CONFIG_REGULATOR_FAN53555=y
CONFIG_REGULATOR_FIXED_VOLTAGE=y
CONFIG_REGULATOR_GPIO=y
CONFIG_REGULATOR_MAX77620=y
CONFIG_REGULATOR_PFUZE100=y
CONFIG_REGULATOR_PWM=y
CONFIG_REGULATOR_RK808=y
CONFIG_REGULATOR_S2MPS11=y
CONFIG_REGULATOR_VCTRL=y
CONFIG_RELAY=y
CONFIG_RING_BUFFER=y
CONFIG_ROCKCHIP_MBOX=y
CONFIG_SCHEDSTATS=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_SLUB_STATS=y
CONFIG_SND_SOC_HDMI_CODEC=y
CONFIG_STAGING=y
CONFIG_STAGING_MEDIA=y
CONFIG_TMPFS=y
CONFIG_TRACEPOINTS=y
CONFIG_TRACING=y
CONFIG_TYPEC_DP_ALTMODE=m
CONFIG_USB_ACM=m
CONFIG_USB_SERIAL=m
CONFIG_USB_SERIAL_CH341=m
CONFIG_USB_SERIAL_FTDI_SIO=m
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_PL2303=m
CONFIG_USB_SERIAL_SIMPLE=m
CONFIG_USB_STORAGE=m
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PRIV=y
CONFIG_WEXT_PROC=y
CONFIG_WIRELESS_EXT=y
