#
# Custom configuration
#

menuconfig CUSTOM
	bool "Custom modules"
	default y
	---help---
	  Say yes to enable custom folder.

if CUSTOM

config CUSTOM_HELLO
	tristate "Custom hello"
	default m
	---help---
	  This module is LDD3 hello.

config CUSTOM_SCULL
	tristate "Custom scull"
	default m
	---help---
	  This module is LDD3 scull.

config CUSTOM_SDMA
	tristate "Custom SDMA"
	default m
	---help---
	  This module is an attempt at SDMA.

endif   # if CUSTOM
